@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --bg-gray: #ddd;
    --text-gray: #4a4a4a;
    --color-primary:#4D41C0;
    --white: #fff;
    --text-light-gray: #aaa
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans' , sans-serif;
    padding: 0;
    margin: 0;
}
    

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
html, body {
background-color: var(--bg-gray);
}

header {
   
    background-color: var(--color-primary);
    height: 60px;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav h1 {
    font-size: 24px;
    font-weight: 700;
}

nav a {
    font-size: 12px;
    font-weight: 400;
}

a, a:hover {
    text-decoration: none;
    color: unset
}

#dsmovie-card-list {
    display: flex;
    gap: 40px;
    padding: 40px 0;
}

.dsmovie-card {
    padding: 0 0 20px 0;
    width: 260px;
    border-radius: 8px;
    margin-right: 50px;
    background-color: var(--white);
}

.dsmovie-card img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
}


.dsmovie-card-infos{
    max-width: 228px;
    margin: auto;
    padding: 10px 0; 
}

.dsmovie-card-infos h2{
    font-size: 14px;
    font-weight: bold;
    color: #4A4A4A;
    text-align: center;
    margin: 0;
    line-height: 19px;

}
.dsmovie-card-score{
    font-size: 16px;
    font-weight: bold;
    color: #FFBB3A;
    margin-top: 25px;
    text-align: center;  
}

.dsmovie-card-stars{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dsmovie-card-stars img{
    width: 23px;
}
.dsmovie-card-avaliation{
   font-size: 12px;
   font-weight: 400;
   color: #989898; 
   text-align: center;
   margin-bottom: 20px;
}
.dsmovie-card-infos{
    text-align: center;
}
.dsmovie-card-infos a{
    display: inline-block;
    width: 180px;
    height: 40px;
    cursor: pointer;
    line-height: 40px;
    background-color: var(--color-primary);
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    transition: all .3s ease;
    margin: 0 10px;
}
.dsmovie-card-infos a:hover{
    opacity: .8;
}

/* .cards-row{
    display: flex !important;
    flex-direction: row;

} */

.dsmovie-form-container {
    padding: 40px 0;
    max-width: 480px;
}

.dsmovie-form {
    width: 100%; 
}

.dsmovie-form-group {
    margin-bottom: 20px;
}

.dsmovie-form-group label{
    font-size: 12px;
    color: var(--text-light-gray);
}

.dsmovie-form-btn-container{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
